.image {
  padding-top: 20px;
  max-width: 100%;
  margin-top: 40px;
  height: 100%;
  margin-right: 20px;
  img {
    margin: 0 auto;
    max-height: 500px;
    height: 500px;
    width: auto;
  }
}

.statusbar {
  margin-top: 20px;
  padding-right: 20px;
}

.toolbar {
  top: 20px;
  margin-right: 20px;
}
