<div class="level-left">
  <a class="level-item button is-info" (click)="toggleSidebar()">
    <span class="icon">
      <i class="fa fa-bars"></i>
    </span> 
  </a>
  <a class="level-item button is-primary" (click)="homeClicked($event)">
    <span class="icon">
      <i class="fa fa-home"></i>
    </span> 
  </a>
   <span class="level-item" *ngIf="api.showPrev() && api.loadComplete()" >
    <a class="button is-primary" (click)="prevPage()">Previous</a>
  </span>
  <span class="level-item" *ngIf="showDeleteCollection()" >
    <a class="button is-danger" (click)="deleteCollection()">Delete</a>
  </span>
</div>
<div class="level-right">
  <span class="level-item" *ngIf="api.loadComplete() && api.showNext()" >
    <a class="button is-primary" (click)="nextPage()">Next</a>
  </span>
  <span class="level-item">
      <p class="control has-addons">
        <input autofocus class="input" type="text" [(ngModel)]="query" placeholder="search" (change)="searchClicked($event)">
        <a class="button is-info" (click)="searchClicked($event)">
          Search
        </a>
      </p>
  </span>
</div>

<div class="modal {{showDeleteConfirm}}">
  <div class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete Album</p>
        <button class="delete" (click)="showDeleteConfirm=''"></button>
      </header>
      <section class="modal-card-body">
        <p class="title">Are you sure you want to delete album {{picStore.selectedCollection}}?</p>
      </section>
      <footer class="modal-card-foot">
        <a class="button is-danger" (click)="deleteCollection(true)">Delete</a>
        <a class="button is-info" (click)="showDeleteConfirm=''">Cancel</a>
      </footer>
    </div>
</div>
