<div class="level-left">
  <a class="level-item button is-info" (click)="toggleSidebar()">
    <span class="icon">
      <i class="fa fa-bars"></i>
    </span> 
  </a>
  <a class="level-item button is-primary" (click)="homeClicked($event)">
    <span class="icon">
      <i class="fa fa-home"></i>
    </span> 
  </a>
   <span class="level-item" *ngIf="api.showPrev() && api.loadComplete()" >
    <a class="button is-primary" (click)="prevPage()">Previous</a>
  </span>
</div>
<div class="level-right">
  <span class="level-item" *ngIf="api.loadComplete() && api.showNext()" >
    <a class="button is-primary" (click)="nextPage()">Next</a>
  </span>
  <span class="level-item">
      <p class="control has-addons">
        <input autofocus class="input" type="text" [(ngModel)]="query" placeholder="search" (change)="searchClicked($event)">
        <a class="button is-info" (click)="searchClicked($event)">
          Search
        </a>
      </p>
  </span>
</div>
